$font-text:   'Font';

$break-mobile-small:    374px;
$break-mobile:          767px;
$break-tablet:          959px;
$break-desktop-small:   1024px;
$break-desktop-medium:  1300px;

$color-white:   #ffffff;
$color-black:   #000000;
