section.footer
  footer.footer__container
    .footer__item.footer__emba
      a(href='https://embahs.skolkovo.ru/ru/emba-hs/', target='_blank')
        img(src='img/logo-emba2.svg', alt='')
    .footer__item.footer__skolkovo
      a(href='http://school.skolkovo.ru/en/', target='_blank')
        img(src='img/logo-skolkovo2.svg', alt='')
    .footer__item.footer__hk
      a(href='http://www.bm.ust.hk/', target='_blank')
        img(src='img/logo-hk2.svg', alt='')
    .footer__item.footer__link.footer__about
      a(href='https://embahs.skolkovo.ru/ru/emba-hs/', target='_blank') О программе
script(src='javascripts/vendor.js?nocache=2')
script(src='javascripts/site.js?nocache=2')
script(type='text/javascript').
  (function () {
    require(['site']);
  })();
