section.fourth-chapter.paywall(data-chapter='4')
  .chapter-text
    .chapter-text__header.chapter-text__header--number
      .chapter-text__header-number IV.
      h2.chapter-text__header-text.header-padding__fourth-chapter
        | Как не упустить 
        br
        |  возможности
        br
        |  роста
    .chapter-text__all.chapter-text__padding
      p.chapter-text__first-paragraph.first-letter__e
        | европа все более склоняется в сторону
        | разобщенности, а
        | ситуация на Ближнем Востоке по-прежнему нестабильна. Центр континента постепенно смещается,
        | место 
        br
        |                     устоявшихся экономик региона занимают сравнительно молодые выскочки. Рынку нужны новые лидеры,
        |                     которые используют возможности новой Евразии и новых подходов к ведению бизнеса.
      p
        | Правда, чтобы получить максимум в ходе евразийской трансформации, необходимо знание азиатской
        | деловой культуры и правил взаимодействия и переговоров с местными инвесторами и предпринимателями.
        | Кроме того, с помощью правильного нетворкинга нужно наработать международные связи, которые бы
        | позволили легче интегрироваться в новую экономику.
  .chapter-text.person-block
    .chapter-text__header.person-block__header
      img.person-block__photo.header-padding__spivak(src='img/kasas-photo_x2.png', alt='')
      .person-block__title
        | Томас Касас
      .person-block__text
        | профессор Московской школы 
        br
        |  управления СКОЛКОВО, 
        br
        |  профессор Швейцарского 
        br
        |  университета
        |                     Санкт-Галлена и 
        br
        |  директор Центра компетенции 
        br
        |  Китая
    .chapter-text__all.chapter-text__padding
      p
        | «В современном мире есть две новые глобальные тенденции: расцвет экономики Китая и четвертая
        | индустриальная революция. Эти два тренда объединяют развитие электронной коммерции, сверхкомплексных
        | цепочек поставок, новых бизнес-взаимозависимостей.
      p
        | Западные институты не располагают достаточными ресурсами, чтобы, с одной стороны, обеспечить
        | стабильность, а с другой стороны — интегрировать в действующую систему новые развивающиеся страны,
        | такие как Китай и Индия. Именно поэтому Китай выступил с инициативой, которая включает в себя
        | финансирование конкретных проектов и продвижение новых торговых связей в Центральной Азии. То есть в
        | тех странах, где свои финансовые институты недофинансированы, а Запад не имеет либо ресурсов, либо
        | интереса к участию в них.
      p
        | Одно из самых больших преимуществ Евразии — её быстрый экономический рост. Он является следствием
        | глубоких и сильных процессов интеграции в торговле, инвестициях и обмене технологиями».
