// Google Tag Manager (noscript)
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PT4XLT5', height='0', width='0', style='display:none;visibility:hidden')
// End Google Tag Manager (noscript)
header.header
  .header__container
    button.send-full-text-button.header__button(type='button') Нет времени читать
    .header__left
      .header__item
        a(href='http://school.skolkovo.ru/en/', target='_blank')
          img(src='img/logo-skolkovo.svg', alt='')
      .header__item
        a(href='http://www.bm.ust.hk/', target='_blank')
          img(src='img/logo-hk.svg', alt='')
      h1.header__text.header__item
        | Как новая Евразия навсегда изменила мировую экономику
    .header__right
      .header__right-item
        a(href='https://embahs.skolkovo.ru/ru/emba-hs/', target='_blank')
          img(src='img/logo-emba.svg', alt='')
