section.second-chapter(data-chapter='2')
  .chapter-text
    .chapter-text__header.chapter-text__header--number
      .chapter-text__header-number II.
      h2.chapter-text__header-text
        | Кто и как зарабатывает 
        br
        |  на евразийской трансформации
    .chapter-text__all.chapter-text__padding
      p.chapter-text__first-paragraph.first-letter__e
        | евразия растет слишком быстро. Единой для всех
        br
        |                     бизнес-модели, как и рецепта успеха, нет. Рассматриваем, 
        br
        |  какие подходы лучше всего работают
        |                     в разных 
        br
        |                     обстоятельствах, на примерах российских компаний.
      p
        | Например, зарабатывать в регионе можно, сохранив сложившиеся договоренности и партнерства.
        | Традиционно важной для российских производителей ВПК и крупных энергетических корпораций
        | является
        | Индия, один из самых крупных рынков Евразии. К строительству уже третьей очереди АЭС
        | «Куданкулам» в
        | качестве поставщиков «Росатом» привлекает и другие российские организации, в частности «Силовые
        | машины», поставляющие турбины для электростанций.
      p
        | В свою очередь, самой крупной инвестицией индийских компаний в России пока остается участие
        | холдинга
        | ONGC Videsh limited в проекте «Сахалин-1»: компания владеет долей в 20 %. Tata Group
        | инвестировала в
        | угольное месторождение в Камчатском крае, а во Владивостоке индийская компания «Кей Джи Кей»
        | (KGK),
        | крупнейший производитель ограненных драгоценных камней и ювелирных изделий, открыла фабрику по
        | огранке алмазов.
  .chapter-text
    .chapter-text__header
      h2.chapter-text__header-text.header-padding__dodo
        | Сеть пиццерий 
        br
        |  «Додо Пицца»
    .chapter-text__all.chapter-text__padding
      p
        strong.chapter-text__bold-text Где делают бизнес, кроме России:
        |  в 12 странах,
        |                     включая
        |                     Китай, США и Великобританию.
      p
        strong.chapter-text__bold-text Кейс.
        |  Пришли в Китай в 2019 году со второй попытки
        |                     после неудачного запуска партнерского ресторана в
        |                     июне 2016 года. Специфика рынка усложнила работу по франчайзинговой модели и не дала повысить
        |                     видимость и узнаваемость бренда. Для открытия новой пиццерии была изменена маркетинговая стратегия,
        |                     а также разработаны новые вкусы и форматы блюд и напитков.
      p
        strong.chapter-text__bold-text Что произошло потом.
        |  В мае этого года компания
        |                     «Додо
        |                     Пицца» официально открыла первую пиццерию
        |                     нового формата в китайском Ханчжоу (именно там сосредоточены штаб-квартиры многих китайских
        |                     технологических гигантов, в т. ч. лидера рынка электронной коммерции «Алибаба Груп»). В заведении
        |                     нет касс, гости оплачивают заказы через мини-приложение Dodo, встроенное в китайский мессенджер
        |                     WeChat.
      p
        strong.chapter-text__bold-text Что говорят.
        |  Федор Овчинников, основатель и CEO
        |                     «Додо
        |                     Пицца», объясняет в интервью корреспонденту
        |                     «Ведомостей»: «Со дня основания „Додо Пицца“ ежегодно растет минимум вдвое. Конечно, этот рост
        |                     давали прежде всего российские пиццерии, однако через два-три года рынок пиццерий в России достигнет
        |                     насыщения. Для сохранения скорости нам нужен мощный рост в других странах, поэтому мы инвестируем в
        |                     Китай. Это очень сложный, но перспективный рынок. Долгое время предприниматели там зарабатывали на
        |                     экспорте, который сейчас снижается в связи с удорожанием труда. Но у этих бизнесменов есть деньги и
        |                     желание работать, и они начинают смотреть на огромный внутренний рынок».
      p
        strong.chapter-text__bold-text Чему можно научиться.
        |  Гибкости. Для сохранения
        |                     лидерства в изменяющихся условиях компаниям нужно
        |                     подстраиваться под обстоятельства.
  .chapter-text
    .chapter-text__header
      h2.chapter-text__header-text.header-padding__2gis
        | Онлайн-справочник 
        br
        | «2ГИС»
      .fact-block
        .fact-block__maincontent
          .fact-block__top-text До
          .fact-block__main-number.fact-block__number-five 5
          .fact-block__main-text млн €
          .fact-block__text
            | может стоить бизнесу выход 
            br
            |  в город за границей для 
            br
            |                             «2ГИС»
        .fact-block__arrow
    .chapter-text__all.chapter-text__padding
      p
        strong.chapter-text__bold-text Где делают бизнес, кроме России:
        |  Украина, Италия,
        |                     ОАЭ,
        |                     Кипр, Чили, Чехия, Казахстан.
      p
        strong.chapter-text__bold-text Кейс. 
        |  В 2012 году выпустили первую версию
        |                     справочника
        |                     и открыли офис в Казахстане по системе франчайзинга.
      p
        strong.chapter-text__bold-text Как зарабатывают.
        |  Основатель компании Андрей Сысоев
        |                     утверждает, что обычно для выхода в новую страну или город «2ГИС» не ищет франчайзи, а ждет
        |                     предложений от потенциальных партнеров. Нередко в этом качестве выступает частный инвестор, ранее
        |                     проживавший в российском регионе, где активно пользуются сервисом. Выход в город за границей может
        |                     обойтись в сумму до 5 млн евро. Стоимость франшизы зависит от размера карты, количества организаций
        |                     в городе и его потенциала.
      p
        strong.chapter-text__bold-text Чему можно научиться.
        |  Умению грамотно продать
        |                     бренд.
        |                     Известность проекта скорее всего сыграет на руку предпринимателю, который собирается выйти в
        |                     Евразийский регион.
      p
  .chapter-text
    .chapter-text__header
      h2.chapter-text__header-text
        | Нефтехимическая компания «Сибур Холдинг»
    .chapter-text__all.chapter-text__padding
      p
        strong.chapter-text__bold-text Где делают бизнес, кроме России:
        |  Китай, Индия,
        |                     Австрия,
        |                     Турция.
      p
        strong.chapter-text__bold-text Кейс.
        |  Давно сотрудничают с Sinopec, нефтяным
        |                     гигантом
        |                     из КНР. Сейчас Sinopec владеет 10 % акционерного капитала компании (еще 10 % принадлежит Фонду
        |                     Шелкового пути). Через площадку китайского партнера у «Сибура» есть выход на крупнейший
        |                     нефтехимический рынок в мире.
      p
        strong.chapter-text__bold-text Как все начиналось.
        |  Исполнительный директор
        |                     «Сибура»
        |                     Сергей Комышан рассказал во время выступления на V Восточном экономическом форуме в сентябре 2019
        |                     года: «Все начиналось 10 лет назад с небольшого совместного проекта по строительству завода
        |                     синтетических каучуков в Красноярске».
      p
        strong.chapter-text__bold-text Чему можно научиться. 
        |  Терпению. Франчайзинг и
        |                     быстрое
        |                     расширение бизнеса — не единственный путь к успеху. Иногда полезно занять выжидательную позицию. «С
        |                     китайскими партнерами спешка хороша лишь при ловле блох», — именно так Сергей Комышан характеризовал
        |                     сотрудничество с компанией Sinopec во время выступления на V Восточном экономическом форуме в
        |                     сентябре 2019 года.
      p
  .chapter-text.person-block
    .chapter-text__header.person-block__header
      img.person-block__photo.header-padding__spivak(src='img/spivak-photo_x2.png', alt='')
      .person-block__title
        | Вита Спивак
      .person-block__text
        | Китаист и эксперт российского 
        br
        |  Совета по международным 
        br
        |  делам
    .chapter-text__all.chapter-text__padding
      p
        | «При работе с евразийскими компаниями, будь то инвесторы, банки или бизнес-партнеры, важно правильно
        | оценивать риски. Они связаны с защитой интеллектуальной собственности, с определением условий
        | сотрудничества, а также с политической обстановкой в регионе и особенностями крупных
        | инфраструктурных проектов. Благодаря экономическим инициативам Китая в Евразии создаются новые
        | рынки: перевозок, электронной коммерции и телекоммуникаций. Потенциально это может создать новый
        | спрос в регионе, однако не снимает риски и ограничения, связанные с сотрудничеством с КНР.
      p
        | Многие проекты в Евразии, получающие деньги от китайских институтов развития, подразумевают
        | эксклюзивное привлечение китайских подрядчиков, технологий, кредитов и специалистов, что не всегда
        | выгодно местному бизнесу и не помогает развивать местный рынок труда. Условия выдачи китайских
        | кредитов и льготного финансирования зачастую непрозрачны, а это создает риски не только для
        | отдельных проектов, но и для целых государств. Примерами таких сбывшихся рисков являются Пакистан и
        | Шри-Ланка: эти страны фактически попали в долговую зависимость от Пекина. Кроме того, многие
        | проекты, под которые китайские компании активно выдают щедрые кредиты, оказываются на деле
        | нерентабельными, а деньги нужно как-то возвращать».
.chapter-img.third-chapter__image
  img(src='img/background-third-chapter.jpg', srcset='img/background-third-chapter.jpg, img/background-third-chapter@2x.jpg 2x', alt='')
