section.third-chapter(data-chapter='3')
  .chapter-text
    .chapter-text__header.chapter-text__header--number
      .chapter-text__header-number III.
      h2.chapter-text__header-text
        | С чего начать 
        br
        |  выход в регион
    .chapter-text__all.chapter-text__padding
      p.chapter-text__first-paragraph.first-letter__n
        | нет единого для всех способа использовать
        | преимущества,
        | которые дает евразийская трансформация. Рецепт успеха в каждом случае свой, предпринимателям и
        | топ-
        | менеджерам корпораций необходимо выбирать то, что лучше всего работает именно на их бизнес-задачи.
        | Разбираем три наиболее перспективные стартовые точки и объясняем, какие возможности существуют в
        | ключевых странах Евразии для каждого.
