//regular
@font-face {
    font-family: 'Decima Mono Pro';
    src: url('../fonts/decimamonopro-webfont.woff2') format('woff2'),
         url('../fonts/decimamonopro-webfont.woff') format('woff'),
         url('../fonts/decimamonopro-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//regular
@font-face {
    font-family: 'Decima Mono X';
    src: url('../fonts/decimamonox-webfont.woff2') format('woff2'),
         url('../fonts/decimamonox-webfont.woff') format('woff'),
         url('../fonts/decimamonox-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//bold
@font-face {
    font-family: 'Decima Mono X';
    src: url('../fonts/decimamonox-bold-webfont.woff2') format('woff2'),
         url('../fonts/decimamonox-bold-webfont.woff') format('woff'),
         url('../fonts/decimamonox-bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}


//light
@font-face {
    font-family: 'DecimaProA';
    src: url('../fonts/decima_pro_a_light-webfont.woff2') format('woff2'),
         url('../fonts/decima_pro_a_light-webfont.woff') format('woff'),
         url('../fonts/decima_pro_a_light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

//regular
@font-face {
    font-family: 'DecimaProA';
    src: url('../fonts/decima_pro_a-webfont.woff2') format('woff2'),
         url('../fonts/decima_pro_a-webfont.woff') format('woff'),
         url('../fonts/decima_pro_a-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

//regular
@font-face {
    font-family: 'Decima Mono ProLT';
    src: url('../fonts/decimamonoprolt-webfont.woff2') format('woff2'),
         url('../fonts/decimamonoprolt-webfont.woff') format('woff'),
         url('../fonts/decimamonoprolt-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

//regular
@font-face {
    font-family: 'PF Centro Serif Pro';
    src: url('../fonts/pfcentroserifpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfcentroserifpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfcentroserifpro-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//bold
@font-face {
    font-family: 'PF Centro Serif Pro';
    src: url('../fonts/pfcentroserifpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfcentroserifpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfcentroserifpro-bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}

//regular
@font-face {
    font-family: 'Decima';
    src: url('../fonts/decima-webfont.woff2') format('woff2'),
         url('../fonts/decima-webfont.woff') format('woff'),
         url('../fonts/decima-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

/*
@font-face {
    font-family: 'Decima';
    src: url('../fonts/decima_bold-webfont.woff2') format('woff2'),
         url('../fonts/decima_bold-webfont.woff') format('woff'),
         url('../fonts/decima_bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}
*/

//bold
@font-face {
    font-family: 'Decima';
    src: url('../fonts/decima-bold-webfont.woff2') format('woff2'),
         url('../fonts/decima-bold-webfont.woff') format('woff'),
         url('../fonts/decima-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: 800;

}