.person-block {
    padding-bottom: 15px;
    margin-bottom: 93px;
    padding-top: 93px;
    padding-bottom: 93px;
    background-color: #161A23;
    @include media('desktop-small') {
        padding-bottom: 70px;
    }
    @include media('tablet') {
        padding-bottom: 78px;
    }
    @include media('mobile') {
        padding-top: 50px;
        padding-bottom: 35px;
    }

    &__header {
        padding-left: 85px;
        width: 175px;
        @include media('desktop-small') {
            padding-left: 85px;
            width: 175px;
        }
        @include media('tablet') {
            width: auto;
            padding-left: 0;
            margin-bottom: 40px;
        }
        @include media('mobile') {
            width: auto;
            padding-left: 0;
            margin-bottom: 45px;
        }
    }

    &__photo {
        width: 153px;
        height: 153px;
        @include media('mobile') {
            width: 87px;
            height: 87px;
        }
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 15px;
        font-family: "Decima Mono Pro";
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FC856A;
        @include media('mobile') {
            margin-top: 13px;
        }
    }

    &__text {
        font-family: "DecimaProA";
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        color: #BFCCD9;
        @include media('tablet-and-mobile') {
            max-width: 550px;
            br {
                display: none;
            }
        }
    }
}